<!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
    <a id="forkme_banner" href="https://github.com/thegeekfest">View on GitHub</a>
    <a href="/"><img id="logo" src="{{ site.baseurl }}/assets/images/logo-black-100.png" alt="THE Geek Fest Logo"></a>
    <h1 id="project_title"><a href="/">{{ site.title }}</a></h1>
    <h2 id="project_tagline">{{site.event_date}} @ {{ site.event_location }}</h2>
    <div class="clear"></div>
    {% if page.navigation %}
      <nav class="page-navigation">
        <ul>
        {% for navigation in page.navigation %}
          {% for link in navigation %}
            <li class="nav-link"><a href="#{{ link[1] }}">{{ link[0] }}</a></li>
          {% endfor %}
        {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </header>
</div>
