/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  background: #212121;
  box-sizing: border-box;
  color:#373737;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  border: 1px solid #ebebeb;
  box-shadow: 0 0 5px #ebebeb;
  margin: 10px 0 10px 0;
  max-width: 739px;
  padding: 5px;
  position: relative;
}

p img {
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

pre, code {
  background-color: #fff;
  border-radius: 2px;
  color: #222;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;
  width: 100%;
}

pre {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
  padding: 10px;
  width: 100%;
}

code {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  margin: 0 3px;
  padding: 3px;
}

pre code {
  box-shadow: none;
  display: block;
}

blockquote {
  border-left: 3px solid #bbb;
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style: inside;
  padding-left: 20px;
}

ol {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  font-style: italic;
  padding-left: 20px;
}

dl p {
  font-style: italic;
  padding-left: 20px;
}

hr {
  background: url('../images/bg_hr.png') repeat-x center;
  border: none;
  height: 1px;
  margin-bottom: 5px;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  background: #373737;
  color: #fff;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
 }

td {
  border: 1px solid #373737;
  padding: 10px;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
THE Geek Fest Custom Styles
*******************************************************************************/

.section-heading {
  margin-top: -20px;
  padding-top: 50px;
}

.first-heading {
  margin-top: -50px;
}

#logo {
  border: 0 none;
  box-shadow: none;
  float: left;
  height: 100px;
  margin: 10px 10px 10px 0;
  max-width: 100px;
  padding: 0;
  width: 100px;
}

.inner #project_title a {
  color: #fff;
  text-decoration: none;
}

.nav-link {
  background-color: #09f;
  color: #fff;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

.nav-link:hover {
  background-color: #069;
}

.nav-link a {
  color: #fff;
}

nav.page-navigation {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
}

.nav-justified>li>a {
  color: #00aeff;
  line-height: 30px;
}

.nav-justified>li>a:hover {
  background-color: #222;
}


.center {
  text-align: center;
}

.wide {
  width: 90%;
}

.big {
  font-size: 1.5em;
}

.round-button {
  border-radius: 10px;
}

address {
  clear: both;
  padding: 5px 0;
}

ul.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.contacts li {
  display: inline-block;
  vertical-align: top;
  width: 170px;
}

ul.contacts .first-item {
  float: left;
  text-align: left;
}

ul.contacts .last-item {
  float: right;
  text-align: right;
}

.contacts-container {
  margin-bottom: 1em;
  min-height: 110px;
  display: inline-block;
}

.contacts-container img {
  border: 3px solid #ccc;
  border-radius: 50%;
  height: 100px;
  margin: 0;
  padding: 2px;
  width: 100px;
}

.contacts-container h4 {
  margin-top: 0;
}

ul.contacts span {
  color: #ccc;
  font-size: 8em;
  line-height: 100px;
}

.clear {
  clear: both;
}

.map-overlay {
  background: transparent;
  height: 300px;
  position: absolute;
  width: 100%;
}

.footnote {
  font-size: 0.65em;
  margin-bottom: 0;
  text-align: right;
}

#social-media a {
  margin: 0 5px;
  text-decoration: none;
}

/* Font Awsome Override */

.fa-inverse {
  color: #333;
  z-index: 5;
}

.fa-circle {
  color: #666;
}

.fa-inverse:hover {
  color: #333;
}

.fa-inverse:hover ~ .fa-circle {
  color: #ddd;
}

#tgfLiveIframe {
  height: 385px;
  width: 100%;
}

#tgfLiveFooter {
  font-size: 11px;
  padding-top: 10px;
  text-align: center;
  width: 100%
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 10px;
  position: relative;
}

#forkme_banner {
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  color: #fff;
  display: block;
  font-weight: 700;
  padding: 10px 50px 10px 10px;
  position: absolute;
  right: 10px;
  top:0;
  z-index: 10;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 10px;
}

#main_content.inner {
  min-height: 450px;
}

#project_title {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  background: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  background: url('../images/icon_download.png') no-repeat 0% 90%;
  bottom: -40px;
  height: 70px;
  position: absolute;
  right: 0;
  width: 210px;
  z-index: 10;
}

.zip_download_link {
  background: url(../images/sprite_download.png) no-repeat bottom left;
  display: block;
  float: right;
  height:70px;
  overflow: hidden;
  text-indent: -5000px;
  width: 90px;
}

.tar_download_link {
  background: url(../images/sprite_download.png) no-repeat bottom right;
  display: block;
  float: right;
  height:70px;
  margin-left: 10px;
  overflow: hidden;
  text-indent: -5000px;
  width: 90px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: #f2f2f2;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 10px;
}

#footer_wrap {
  background: #212121;
}

#video {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#video iframe {
  height: 439px;
  width: 100%;
}

#video img {
  margin: 0;
  padding: 0;
  width: 100%;
}

#video div {
  position: absolute;
  top: 45%;
  width: 100%;
}

#video #ytPlayBtn {
  margin: 0;
  opacity: 0.7;
  padding: 0;
  width: 80px;
}

#location-container {
  background-color: #ccc;
  background-image: url('../images/levine_campus_ext_00.jpg');
  background-position: left;
  background-repeat: no-repeat;
  min-height: 300px;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
    padding-top: 50px;
  }

  #logo {
    height: 75px;
    margin: 0 10px 10px 0;
    max-width: 100px;
    width: 75px;
  }

  #downloads {
    display: none;
  }

  .inner {
    max-width: 480px;
    min-width: 300px;
  }

  #project_title {
    font-size: 20px;
  }

  #project_tagline {
    font-size: 12px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    max-width: 480px;
    min-width: 320px;
    font-size: 11px;
  }

  #video iframe {
    height: 169px;
    width: 100%;
  }

  ul.contacts {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  ul.contacts li {
    display: inline-block;
    vertical-align: top;
    width: 170px;
  }

  ul.contacts .first-item, ul.contacts .last-item {
    float: left;
    text-align: left;
  }

  .contacts-container {
    display: inline-block;
    margin-bottom: 1em;
    min-height: 110px;
  }

  .contacts-container img {
    border: 3px solid #ccc;
    border-radius: 50%;
    height: 100px;
    margin: 0;
    padding: 2px;
    width: 100px;
  }

  ul.contacts span {
    display: none;
  }

  #social-media {
    text-align: center;
  }

  /* Font Awsome Override */

  .fa-lg {
    font-size: 1.5em;
  }

  .fa-inverse {
    color: #333;
  }

  .fa-circle {
    color: #ddd;
  }

  /* Hide Google Map on small-screen mobile devices */
  #location-container {
    background-image: url('../images/levine_campus_ext_00.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
  }
}
